<template>
  <q-dialog v-model="alert">
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">{{ $t('nav.statistics') }}</div>
        <q-space />
        <q-btn icon="close" flat round dense @click="close" />
      </q-card-section>
      <q-card-section>
        <q-btn-toggle
          v-model="mode"
          push
          glossy
          toggle-color="primary"
          :options="[
            {label: $t('btn.views'), value: 'views'},
            {label: $t('btn.visits'), value: 'visits'},
            {label: $t('btn.clicks'), value: 'clicks'}
          ]"
        />
      </q-card-section>
      <q-card-section class="q-pt-none">
        <charts
          width="500"
          height="350"
          type="bar"
          :options="chartOptions"
          :series="series"
        />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          v-close-popup no-caps flat
          :label="$t('btn.close')" color="primary" @click="close"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>

import Charts from 'vue3-apexcharts';

export default {
  name: 'DialogStatistics',
  components: {
    Charts
  },
  emits: ['close'],
  props: {
    statistics: {
      type: [Object, Boolean, null],
      required: false,
      default: () =>
      {}
    }
  },
  data()
  {
    return {
      mode: 'views',
    };
  },
  computed:
  {
    chartOptions()
    {
      const options = {
        dataLabels: {
          enabled: true
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          }
        },
        xaxis: {
          categories: this.statistics.map(
            x => new Date(x.attributes.date).toLocaleDateString()
          )
        },
      };
      return options;
    },
    series()
    {
      if (this.mode === 'visits')
      {
        const data = [
          {
            name: this.$t('Projektleiter'),
            data: this.statistics.filter(v => v.attributes.job === 'Projektleiter').map(x => x.attributes.visits),
          },
          {
            name: this.$t('Servicetechniker'),
            data: this.statistics.filter(v => v.attributes.job === 'Servicetechniker').map(x => x.attributes.visits),
          },
          {
            name: this.$t('Kältetechniker'),
            data: this.statistics.filter(v => v.attributes.job === 'Kältetechniker').map(x => x.attributes.visits),
          }
        ];
        return data;
      }

      if (this.mode === 'views')
      {
        const data = [
          {
            name: this.$t('Projektleiter'),
            data: this.statistics.filter(v => v.attributes.job === 'Projektleiter').map(x => x.attributes.views),
          },
          {
            name: this.$t('Servicetechniker'),
            data: this.statistics.filter(v => v.attributes.job === 'Servicetechniker').map(x => x.attributes.views),
          },
          {
            name: this.$t('Kältetechniker'),
            data: this.statistics.filter(v => v.attributes.job === 'Kältetechniker').map(x => x.attributes.views),
          }
        ];
        return data;
      }

      if (this.mode === 'clicks')
      {
        const data = [
          {
            name: this.$t('Projektleiter'),
            data: this.statistics.filter(v => v.attributes.job === 'Projektleiter').map(x => x.attributes.clicks),
          },
          {
            name: this.$t('Servicetechniker'),
            data: this.statistics.filter(v => v.attributes.job === 'Servicetechniker').map(x => x.attributes.clicks),
          },
          {
            name: this.$t('Kältetechniker'),
            data: this.statistics.filter(v => v.attributes.job === 'Kältetechniker').map(x => x.attributes.clicks),
          }
        ];
        return data;
      }
      return null;
    },
    alert()
    {
      return !!this.statistics;
    }
  },
  methods:
  {
    close()
    {
      this.$emit('close', true);
    }
  }

};
</script>
