<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="Anlagenmechaniker:in und Kältetechniker:in in Frankfurt gesucht.">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <meta property="og:image" content="GHG-Auto-vor-Frankfurter-Skyline.jpg" />
    <link rel="icon" type="image/png" sizes="128x128" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon.ico">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="fonts/yellowtail.css" />
    <script  type="application/ld+json">
      {
        "@context":"http://schema.org",
        "@type":"LocalBusiness",
        "name":"GHG GmbH",
        "logo":"https://www.g-h-g.de/media/config/theme/logo.png",
        "image": "https://www.g-h-g.de/media/de/unternehmen/shk/ueber_uns/ueberuns_gross.jpg",
        "@id":"www.g-h-g.de",
        "url":"https://www.g-h-g.de",
        "telephone":"069 58091-0",
        "email":"info@g-h-g.de",
        "address":{"@type":"PostalAddress","addressLocality":"Frankfurt am Main","postalCode":"60433","addressCountry":"Deutschland"},"geo":{"@type":"GeoCoordinates","latitude":"50.1631010","longitude":"8.6851842"},
        "sameAs":["https://g-h-g.de"],
        "priceRange" : "100€ - 100000€",
        "description" : "Die GHG leistet als Fachbetrieb der Heizungs- und Sanitärtechnik sämtliche Arbeiten rund um die Wärmeerzeugung - von Heizungs-, Warmwasser- und Solaranlagen einschließlich der entsprechenden Sanitär- und Elektroinstallationen. Von der Beratung und Planung, dem Einbau innovativer Heiztechniken bis zur Wartung und Modernisierung Ihrer Heizungsanlage.",
        "numberOfEmployees": "80",
        "foundingDate": "1962"
      }
    </script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
