<template>
  <q-page class="flex text-center" padding>
    <q-card class="full-height q-pt-md">
      <logo :logo-url="orgLogo" />
      <div class="row">
        <span :class="$q.platform.is.mobile ?
          'text-h3 text-primary q-mt-md col-md-12' :
          'text-h1 text-primary col-md-12'"
        >
          Als <b>Macher</b> der <b>Energiewende</b> suchen wir <b>Dich!</b>
        </span>
      </div>
      <div class="row">
        <div :class="+ ($q.platform.is.desktop ? 'col-12' : '') + 'justify-center full-width q-mb-xl q-mt-xl  q-gutter-md'">
          <br>
          <q-btn v-for="(job,i) in jobs" :key="i" class="q-mr-md q-mb.md bg-secondary text-white" rounded size="xl" no-caps :to="job.ref">{{ job.title }} </q-btn>
        </div>
        <h3 class="col-12 text-primary ">
          <center>
            <div
              :style="$q.platform.is.mobile? 'width: 100%;' : 'width: 50%;'"
              :class="$q.platform.is.mobile ?
                'text-h4 text-primary q-mt-md col-md-12' :
                'text-h3 text-primary col-md-12'"
            >
              <b>Zusammen</b> mit Dir sorgen wir für innovative Lösungen und für eine
              grünere Umwelt
            </div>
          </center>
        </h3>
        <div style="width: 100%;">
          <center>
            <q-list :style="($q.platform.is.desktop ? 'width: 30%;' : '')" class="q-mt-md q-mb-md">
              <q-item v-for="(item,i) in sections" :key="i">
                <q-item-section avatar>
                  <q-icon color="primary" size="xl" :name="'img:icons/' + item.icon" />
                </q-item-section>
                <q-item-section align="left" color="primary">{{ item.name }}</q-item-section>
              </q-item>
            </q-list>
          </center>
        </div>

        <div class="col-12 q-mt-md q-mb-md">
          <div class="text-h6">Und das alles am besten Fernüberwacht!</div>

          <q-separator dark inset />

          <div>
            Fehlt Dir die Erfahrung? --> Kein Problem: Wir fördern Dein Fachwissen und bilden Dich mit regelmäßigen Schulungen weiter.
          </div>
        </div>
      </div>

      <h2 class="text-primary">{{ $t('Bewirb dich mit wenigen Klicks.') }}</h2>
      <div :class="+ ($q.platform.is.desktop ? 'col-12' : '') + 'justify-center full-width q-gutter-md'">
        <br>
        <q-btn v-for="(job,i) in jobs" :key="i" class="q-mr-md bg-secondary text-white" rounded size="xl" no-caps :to="job.ref">{{ job.title }} </q-btn>
        <br>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import jobs from 'src/lib/jobs.js';
import Logo from 'src/components/Logo';
import { useQuasar } from 'quasar';

export default
{
  name: 'Index',
  components:
  {
    Logo
  },
  setup()
  {
    const $q = useQuasar();
    return $q;
  },
  data()
  {
    return {
      orgLogo: this.orgLogo ? this.orgLogo : 'logo.png',
      sections: [
        {
          name: 'Brennstoffzellenheizung',
          icon: 'brennstoffzellenheizung.png'
        },
        {
          name: 'Wärmepumpen',
          icon: 'waermepumpe.jpg'
        },
        {
          name: 'Photovoltaikanlagen',
          icon: 'photovoltaikanlage.png'
        },
        {
          name: 'Fernwärmeübergabestationen',
          icon: 'fernwaermeuebergabestation.png'
        },
        {
          name: 'Gasanlagen',
          icon: 'gasheizung.png'
        }
      ]
    };
  },
  computed:
  {
    jobs()
    {
      return jobs.list();
    },
  }
};
</script>

<style lang="scss" scoped>
.job:hover
{
  color: $primary;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

</style>
