<template>
  <q-page class="flex text-center" padding>
    <q-card class="full-height q-pt-md full-width">
      <logo :logo-url="orgLogo" />
      <div class="row justify-center">
        <span :class="$q.platform.is.mobile ?
          'text-h3 text-primary q-mt-md col-md-12 q-mb-xl' :
          'text-h1 text-primary col-md-12 q-mb-md'"
        >
          Impressum
        </span>
        <q-card class="col-md-3 col-xl-4 text-left q-mb-xl">
          <q-list>
            <q-item>
              <q-item-section>
                <q-item-label>GHG GmbH</q-item-label>
                <q-item-label caption>August-Schanz-Straße 31</q-item-label>
                <q-item-label caption>60433 Frankfurt am Main</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable type="a" href="tel:069580910">
              <q-item-section>
                Telefon
              </q-item-section>
              <q-item-section>
                <q-item-label>069 58091-0</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable type="a" href="tel:015118036422">
              <q-item-section>
                Mobil
              </q-item-section>
              <q-item-section>
                <q-item-label>0151 18036422</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                Fax
              </q-item-section>
              <q-item-section>
                <q-item-label>069 58091-199</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable type="a" href="mailto:info@g-h-g.de">
              <q-item-section>
                E-Mail
              </q-item-section>
              <q-item-section>
                <q-item-label>info@g-h-g.de</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable type="a" href="https://www.g-h-g.de">
              <q-item-section>
                Homepage
              </q-item-section>
              <q-item-section>
                <q-item-label>www.g-h-g.de</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                Registergericht
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  Amtsgericht Frankfurt
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                Handelsregister
              </q-item-section>
              <q-item-section>
                <q-item-label>HRB 6190</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Vertretungs­berechtigte/-r</q-item-label>
                <q-item-label>Geschäfts­führer/-in</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>Dr. Andreas Hahn</q-item-label>
                <q-item-label>Dipl.-Ing. Dipl.-Wirtschaftsing. Christof Hahn</q-item-label>
                <q-item-label>Maximilian Becker</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>zuständige Kammer</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  Handwerkskammer Frankfurt-Rhein-Main
                </q-item-label>
                <q-item-label>
                  Bockenheimer Landstraße 21
                </q-item-label>
                <q-item-label>
                  60325 Frankfurt am Main
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                USt-IdNr.
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  DE 114184075
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <div class="text-h6">Haftungsausschluss</div>
                <div>
                  Wir legen Wert auf die Feststellung, dass die Inhalte dieser Internetseite mit großer
                  Sorgfalt zusammengestellt werden, aber nur der unverbindlichen allgemeinen Information
                  dienen. Eine individuelle Beratung für eine Kaufentscheidung wird hierdurch nicht ersetzt.
                  Eine jederzeitige Änderung der Inhalte bleibt vorbehalten.
                </div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <div class="text-h6">Beschwerdeverfahren</div>
                <div>
                  <strong>Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO und § 36 VSBG:</strong><br>
                  Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit,
                  die Sie unter <q-btn type="a" no-caps flat href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</q-btn> finden. Zur Teilnahme an einem
                  Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle sind wir nicht verpflichtet
                  und nicht bereit.
                </div><div>
                  Unser Unternehmen erreichen Sie per E-Mail unter folgender Adresse: info@g-h-g.de
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
        <div :class="+ ($q.platform.is.desktop ? 'col-12' : '') + 'justify-center full-width q-gutter-md q-mb-xl'">
          <br>
          <q-btn v-for="(job,i) in jobs" :key="i" class="q-mr-md bg-secondary text-white" rounded size="xl" no-caps :to="job.ref">{{ job.title }} </q-btn>
          <br>
        </div>
      </div>
    </q-card>

    <!-- content -->
  </q-page>
</template>

<script>
import jobs from 'src/lib/jobs.js';
import Logo from 'src/components/Logo';

export default {
  name: 'PageImprint',
  components:
  {
    Logo
  },
  data: function()
  {
    return {
      orgLogo: this.orgLogo ?? 'logo.png',
    };
  },
  computed:
  {
    jobs()
    {
      return jobs.list();
    },
  }
};
</script>
