<template>
  <q-footer bordered class="bg-white text-primary">
    <q-tabs no-caps active-color="primary" indicator-color="transparent" class="text-grey">
      <q-tab
        name="yawik"
      >
        <q-btn
          class="full-width"
          flat
          no-caps
          type="a"
          rel="noopener noreferrer"
          target="_blank"
          :href="urlOperator"
        >
          {{ $t('copyright', {year: new Date().getFullYear() }) }}
        </q-btn>
      </q-tab>
      <q-tab
        name="imprint"
      >
        <q-btn
          class="full-width"
          flat
          :ripple="false"
          no-caps
          to="/impressum"
          :label="$t('Imprint')"
        />
      </q-tab>
      <q-tab
        name="privacy"
      >
        <q-btn
          class="full-width"
          flat
          no-caps
          type="a"
          rel="noopener noreferrer"
          target="_blank"
          :href="urlPrivacy"
          :label="$t('Privacy')"
        />
      </q-tab>
      <q-tab
        name="darkmode"
      >
        <q-toggle
          v-model="$q.dark.isActive"
          indeterminate-value="auto"
          color="secondary"
          :icon="$q.dark.isActive ? 'dark_mode' : 'sunny'"
          label="Ansicht"
        />
      </q-tab>
    </q-tabs>
  </q-footer>
</template>

<script>
import { watch } from 'vue';
import { useQuasar } from 'quasar';

export default
{
  name: 'PageFooter',
  setup()
  {
    const $q = useQuasar();
    // get status
    console.log($q.dark.isActive); // true, false

    // get configured status
    console.log($q.dark.mode); // "auto", true, false

    // set status
    $q.dark.set(true); // or false or "auto"

    // toggle
    $q.dark.toggle();
    watch(() => $q.dark.isActive, val =>
    {
      console.log(val ? 'On dark mode' : 'On light mode');
    });
  },
  data()
  {
    return {
    };
  },
  computed:
    {
      urlOperator()
      {
        return process.env.YAWIK_URL_OPERATOR;
      },
      urlPrivacy()
      {
        return process.env.YAWIK_URL_PRIVACY;
      },
    }
};
</script>

<style>
  .uploader .q-item__section--thumbnail img
  {
    object-fit: contain;
  }

  .uploader .q-uploader__list .q-item__label
  {
    line-height: 1.25em !important;
  }
</style>
