<template>
  <div class="yawik-stepper-width">
    <q-card v-if="idx < questions.length" class="bg-grey-6 text-white">
      <q-card-section>
        <div class="text-h6">{{ $t(questions[idx].q) }}</div>
      </q-card-section>

      <q-separator dark />

      <q-card-actions v-if="!questions[idx].a" align="around">
        <q-btn color="green" size="lg" icon="thumb_up" stack no-caps @click="yes">{{ $t('buttons.yes') }}</q-btn>
        <q-btn color="red" size="lg" icon="thumb_down" stack no-caps @click="no">{{ $t('buttons.no') }}</q-btn>
      </q-card-actions>
      <q-card-actions v-else align="around" class="row q-gutter-lg">
        <div
          v-for="(answer,i) in questions[idx].a" :key="i"
          class="col-5 z-top" size="md"
        >
          <q-img
            :width="200"
            :height="100"
            :fit="idx === 0 ? 'cover' : 'contain'"
            :style="$q.platform.is.mobile ? 'max-height: 110px;' : 'max-height: 140px;'"
            class="full-width cursor-pointer"
            :src="answer.img"
            @click="multiple(i)"
          />
          <q-btn
            class="full-width bg-primary"
            stack
            no-caps
            @click="multiple(i)"
          >
            {{ answer.text }}
          </q-btn>
        </div>
      </q-card-actions>
    </q-card>
    <q-card v-else class="bg-grey-6 text-white">
      <q-card-section class="text-h6 bg-primary">
        <div class="text-h6 bg-primary">{{ $t('Teile uns Deine Kontaktdaten mit, damit wir Dich erreichen können.') }}</div>
      </q-card-section>

      <q-card-section>
        <div class="row q-gutter-y-md">
          <q-input
            v-model="firstname"
            bg-color="white"
            class="col-6 q-pr-sm"
            :label="$t('stepOne.firstName')"
            dense
            outlined
            :rules="[ruleRequired]"
            name="firstname"
          />
          <q-input
            v-model="lastname"
            bg-color="white"
            class="col-6 q-pl-sm"
            :label="$t('stepOne.lastName')"
            dense
            outlined
            :rules="[ruleRequired]"
            name="lastname"
          />
          <q-input
            v-model="phone"
            bg-color="white"
            class="col-12"
            :label="$t('stepOne.phone')"
            dense
            outlined
            :rules="[ruleRequired]"
            name="phone"
          >
            <template #prepend>
              <q-icon name="phone" />
            </template>
          </q-input>

          <q-input
            v-model="email"
            bg-color="white"
            class="col-12"
            :label="$t('stepOne.email')"
            dense
            outlined
            :rules="[ruleRequired, validEmail]"

            name="email"
          >
            <template #prepend>
              <q-icon name="mail" />
            </template>
          </q-input>
          <q-input
            v-model="availability"
            bg-color="white"
            class="col-12 hidden"
            :label="$t('stepOne.date')"
            dense
            outlined
            name="date"
          >
            <template #prepend>
              <q-icon name="event" />
            </template>
          </q-input>
          <q-field :model-value="terms" lazy-rules :rules="[ruleRequired]" borderless dense>
            <template #control>
              <q-item v-ripple tag="label">
                <q-item-section avatar top>
                  <q-checkbox v-model="terms" name="terms" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ $t('Privacy') }}</q-item-label>
                  <q-item-label caption>
                    {{ $t('Ich bin damit einverstanden, dass meine Kontaktdaten für die Kontaktaufnahme im Rahmen der Bewerbung verarbeitet und ich kontaktiert werden darf.') }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-field>
        </div>
      </q-card-section>

      <q-separator dark />

      <q-card-actions align="center">
        <q-btn
          size="lg"
          color="primary"
          icon="send"
          :loading="loading"
          rounded
          :disabled="!isValid()"
          no-caps
          @click="send(
            {
              firstname: firstname,
              lastname: lastname,
              phone: phone,
              email: email,
              answers: result,
              job_title: job.title
            })"
        >
          {{ $t('buttons.send') }}
          <q-tooltip>{{ $t('und ab die Post ...') }}</q-tooltip>
        </q-btn>
      </q-card-actions>

      <q-card-section>
        <q-list>
          <q-item v-for="answer in result" :key="answer.i">
            <q-item-section avatar>
              <q-icon v-if="answer.a === 'yes'" size="xl" name="check" color="green" class="cursor-pointer" @click="$emit('step', answer.i)" />
              <q-icon v-else-if="answer.a === 'no'" size="xl" name="close" color="red" class="cursor-pointer" @click="$emit('step', answer.i)" />
              <div v-else class="cursor-pointer" @click="$emit('step', answer.i)">{{ answer.a }}</div>
            </q-item-section>
            <q-item-section side class="text-white cursor-pointer" @click="$emit('step', answer.i)">
              {{ questions[answer.i].q }}
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import mixinValidations from 'src/lib/validations';

export default
{
  name: 'Questions',
  mixins: [mixinValidations],
  emits: ['submit', 'step'],
  props:
  {
    job:
    {
      type: Object,
      default: () =>
      {
      }
    },
    step:
    {
      type: Number,
      default: 0
    }
  },
  data()
  {
    return {
      idx: this.step,
      loading: false,
      firstname: '',
      lastname: '',
      email: '',
      phone: '',
      result: [],
      terms: false,
      availability: ''
    };
  },
  computed:
  {
    questions()
    {
      return [
        {
          q: 'Hast Du eine abgeschlossene Ausbildung als Anlagenmechaniker?',
          a:
          [
            {
              text: 'Ja, klar',
              img: 'icons/education-yes.jpg'
            },
            {
              text: 'Leider nicht...',
              img: 'icons/education-no.jpg'
            }
          ],
          bg: 'background/bathroom.jpg'
        },
        {
          q: 'Wie viel Berufserfahrung hast Du?',
          a:
          [
            {
              text: '<2 Jahre',
              img: '/icons/experience-less-2.png',
            },
            {
              text: '2-5 Jahre',
              img: '/icons/experience-2-5.png',
            },
            {
              text: '>5 Jahre',
              img: '/icons/experience-more-5.png',
            },
            {
              text: 'keine',
              img: '/icons/experience-none.png'
            },
          ],
          bg: 'background/bathroom.jpg'

        },
        {
          q: 'Hast Du einen PKW-Führerschein?',
          a:
          [
            {
              text: 'Ja!',
              img: '/icons/car.svg'
            },
            {
              text: 'Nein!',
              img: '/icons/bike.svg',
            }
          ],
          bg: 'GHG-Auto-vor-Frankfurter-Skyline.jpg'
        }
      ];
    }
  },
  watch:
  {
    step(newVal, oldVal)
    {
      this.renderComponent = true;
      this.idx = newVal;
    }
  },
  methods:
  {
    yes()
    {
      const idx = this.idx;
      this.result[idx] = {
        i: this.idx,
        q: this.questions[this.idx].q,
        a: this.$t('yes')
      };
      this.idx++;
      this.$emit('step', this.idx);
    },
    no()
    {
      const idx = this.idx;
      this.result[idx] = {
        i: this.idx,
        q: this.questions[this.idx].q,
        a: this.$t('no')
      };
      this.idx++;
      this.$emit('step', this.idx);
    },
    multiple(v)
    {
      const idx = this.idx;
      this.result[idx] = {
        i: this.idx,
        q: this.questions[this.idx].q,
        a: this.questions[this.idx].a[v].text
      };
      this.idx++;
      this.$emit('step', this.idx);
    },
    isValid()
    {
      return (
        this.firstname !== '' &&
        this.lastname !== '' &&
        this.phone !== '' &&
        this.email !== '' &&
        this.terms
      );
    },
    send(data)
    {
      this.loading = true;
      this.$axios.post('/api/candidates', {
        data: data
      }).then(response =>
      {
        console.log(response);
      }).finally(() =>
      {
        this.loading = false;
        this.$emit('submit', data);
      });
      console.log(data);
    }
  }
};
</script>
