<template>
  <q-layout view="lHh Lpr lFf" class="yawik">
    <q-page-container style="overflow-x: hidden;">
      <router-view v-slot="{ Component }">
        <transition name="fade" appear mode="out-in">
          <component :is="Component" />
        </transition>
      </router-view>
    </q-page-container>
    <page-footer v-if="showFooter" />
  </q-layout>
</template>

<script>
import PageFooter from '../components/PageFooter';

export default
{
  name: 'MainLayout',
  components:
  {
    PageFooter,
  },
  computed:
    {
      jobID()
      {
        return this.$route.query.job;
      },
      showFooter()
      {
        return !this.$route.query.hf;
      },
    },
  created()
  {
    const lang = 'de';
    this.$root.$i18n.locale = lang;
    import(
      /* webpackInclude: /(de|en-GB)\.js$/ */
      'quasar/lang/' + (lang === 'en' ? 'en-GB' : lang)
    ).then(lang =>
    {
      this.$q.lang.set(lang.default);
    });
    if (this.jobID) this.getJobDetails();
  },
};
</script>

<style>
  .fade-enter-active,
  .fade-leave-active
  {
    transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .fade-enter,
  .fade-leave-active
  {
    opacity: 0;
    transform: translate(2em, 0);
  }
</style>
